<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
	<connectionStrings>
  <add name="dbCon" connectionString="Data Source=LAPTOP-0L4HLUST\FATIKAHAMZAH;Initial&#xD;&#xA;		Catalog=CRUDMahasiswa;Integrated Security=True"
   providerName="System.Data.SqlClient" />
  <add name="ExeCRUDWinForm.Properties.Settings.CRUDMahasiswaConnectionString"
   connectionString="Data Source=LAPTOP-0L4HLUST\FATIKAHAMZAH;Initial Catalog=CRUDMahasiswa;User ID=sa;Password=Ftk242002"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
</configuration>